//this is an example of a sample layout, you can create additional custom layouts and extend them for specific pages with a different layout than the main page/layout.

extends ../layout.jade

block variables
  - var depth = '../'

block content
  .wrapper.content
    .sidebar
      block sidebar

    .main-content
      block main-content
