.modal.action.copy-event-modal(modal, ng-init="eventEntity='USGA'")
  input.modal-state#copy-event(type="checkbox")
  .modal-window
    .modal-inner
      .content
        label.modal-close(for="copy-event")
        h2 Copy Event 
        
        section
          label Creation Entity
          .radio-checkbox-3
            label.radio-wrap(radio-label)
              input(type="radio" name="event-entity" ng-model="eventEntity" value="USGA")
              <span></span> USGA
            label.radio-wrap(radio-label)
              input(type="radio" name="event-entity" ng-model="eventEntity" value="Association")
              <span></span> Association 
            label.radio-wrap(radio-label)
              input(type="radio" name="event-entity" ng-model="eventEntity" value="Club")
              <span></span> Club
        section
          .association(ng-if="eventEntity=='Association'||eventEntity=='Club'")
            label(for='association') Association Name or ID
            angucomplete-alt(pause="100", disable-input="searchAllAssociations", placeholder="Search by Name or ID", selected-object="Query.selectedAssociation", local-data="associations", search-fields="name", title-field='name', minlength='1')
        section
          .club(ng-if="eventEntity=='Club'")
            label(for='club') Club Name or ID
            angucomplete-alt(pause="100", placeholder="Search by Name or ID", selected-object="Query.club", local-data="clubs", search-fields="name", title-field='name', minlength='1')
        section
          .event-name
            label.required(for='event-name') Event Name
            input#event-name(type='text', ng-model='eventName')
        section
          .radio-checkbox-4
            input.checkbox(type='checkbox', name='checkboxes', value='check_1' id='check_1' checked)
            label(for='check_1') <span></span> Copy Event Participants
        
        .button-options
          button.activate(ng-click='copyEvent()') Copy
          button.cancel Cancel




