.modal.action(modal)
  input.modal-state#import-list(type="checkbox")
  .modal-window
    .modal-inner
      label.modal-close(for="import-list")
      h2 Import List
      .field.clearfix    
        label IMPORT ORDER
        .custom-select.select-width.clearfix
          select
            option List Order
            option Alphabetical by Last Name
      .linkSection
        label Sample files
        .fileLink
          a(href="#") CSV File
        .fileLink
          a(href="#") XLS File
        .fileLink    
          a(href="#") XLSX File
      usgafileuploader(options='fileUploadOptions')
