.modal.action(modal, ng-class="{disabled: checkedEntries.length == 0}")
  input.modal-state#withdraw(ng-disabled="checkedEntries.length == 0", type="checkbox")
  .modal-window
    .modal-inner
      label.modal-close(for="withdraw")
      h2 Withdraw
      p The selected players will be removed from the attendee list. You can go back and invite them again at any time.
        
      table.checkbox_table(checkbox-table, cellspacing='0', cellpadding='0')
        tbody
          tr(ng-repeat="entry in checkedEntries")
            td
              input.checkbox(ng-model="entry.checked",type='checkbox', name='delete-entry-{{$index}}', value='' id='delete-entry-{{$index}}')
              label(for='delete-entry-{{$index}}') <span></span>
              td(colspan='1') {{entry.serialNo}}
              td(colspan='5') {{entry.name}}</a> ({{entry.ghinID}})
                span {{entry.club}} 
              
      .button-options
        button(ng-click="updateTable()") Withdraw
        button.cancel Cancel
