.modal.action(modal)
  input.modal-state#adjust-handicap(type="checkbox")
  .modal-window
    .modal-inner
      label.modal-close(for="adjust-handicap")
      h2 Adjust Manual Handicap Index/Course Handicap 
      
      
      
      .scoring-wrapper.adjust-handicap.centerAlign
        div.participant
          h2 Mark Morse (12345678)
          label Handicap Index
          input(type="text" placeholder="13.5")
        table(cellspacing='0', cellpadding='0')
          thead
            th &nbsp;
            th HI
            th CH
          tbody
            tr
              td Round 1
              td
                label.radio-wrap(radio-label)
                  input(type="radio" name="Round1" value="Round1_HI" ng-model="Round1")
                  <span></span>
                div.input-wrap
                  input(type="text" ng-show="Round1 == 'Round1_HI'")
              td
                label.radio-wrap(radio-label)
                  input(type="radio" name="Round1" value="Round1_CH" ng-model="Round1")
                  <span></span>
                div.input-wrap
                  input(type="text" ng-show="Round1 == 'Round1_CH'")
            tr
              td Round 2
              td
                label.radio-wrap(radio-label)
                  input(type="radio" name="Round2" value="Round2_HI" ng-model="Round2")
                  <span></span>
                div.input-wrap
                  input(type="text" ng-show="Round2 == 'Round2_HI'")
              td
                label.radio-wrap(radio-label)
                  input(type="radio" name="Round2" value="Round2_CH" ng-model="Round2")
                  <span></span>
                div.input-wrap
                  input(type="text" ng-show="Round2 == 'Round2_CH'")
            tr
              td Round 3
              td
                label.radio-wrap(radio-label)
                  input(type="radio" name="Round3" value="Round3_HI" ng-model="Round3")
                  <span></span>
                div.input-wrap
                  input(type="text" ng-show="Round3 == 'Round3_HI'")
              td
                label.radio-wrap(radio-label)
                  input(type="radio" name="Round3" value="Round3_CH" ng-model="Round3")
                  <span></span>
                div.input-wrap
                  input(type="text" ng-show="Round3 == 'Round3_CH'")
                 
      .button-options
          button(type="submit") Adjust
          button.cancel(type="cancel") Cancel
