.modal.action.questionnaire-response-modal(modal)
  input.modal-state#questionnaire-response(type="checkbox")
  .modal-window
    .modal-inner
      .content
        label.modal-close(for="questionnaire-response")
        h2 Responses
        section
          .field
            label(for='loremipsum') Lorem ipsum dolor sit amer 
            input(type="text")
          .field
            label(for='loremipsum') Lorem ipsum dolor sit
            input(type="text")

        .date
          label(for="textinput") Lorem ipsum 
          .date-picker
            input(type="text", name="textinput", date-picker)
         
        .button-options
          button.activate(ng-click='saveResponse()') Save
          button.cancel Cancel