//This is just a sample page which extends the base layout.jade.

extends ../layout.jade

block variables
  - var page = 'event-search'
  - var depth = '../'

block content
  include partials/sample-partial.jade
  .wrapper
    form
      section
        p This is just a sample page
        label(for="myInput") My Label
        input(id="myInput")