nav
  .wrapper
    div.navigation-wrapper
      a#js-mobile-menu.navigation-menu-button(href='', mobile-menu-action) MENU
      div.nav(dropdown-navigation)
        ul#navigation-menu
          li.nav-link.more
            a(href='javascript:void(0)') Profile
            ul.submenu.top-level
              li.more
                a(href='javascript:void(0)') Link #1
                ul.submenu
                  li
                    a(href='javascript:void(0)') Sub-link #1
                  li
                    a(href='javascript:void(0)') Sub-link #2
              li.more
                a(href='javascript:void(0)') Link #2
                ul.submenu
                  li
                    a(href='javascript:void(0)') Sub-link #1
                  li
                    a(href='javascript:void(0)') Sub-link #2
                  li
                    a(href='javascript:void(0)') Sub-link #3
              li
                a(href='javascript:void(0)') Linke #3
          li.nav-link.more.active
            a(href='javascript:void(0)') Score &amp; HDCP
            ul.submenu.top-level
              li.more
                a(href='javascript:void(0)') Link #1
                ul.submenu
                  li
                    a(href='javascript:void(0)') Sub-link #1
              li
                a(href='javascript:void(0)') Link #2
          li.nav-link.more
            a(href='javascript:void(0)') Events
            ul.submenu.top-level
              li.more
                a(href='javascript:void(0)') Link #1
                ul.submenu
                  li
                    a(href='javascript:void(0)') Sub-link #1
              li
                a(href='javascript:void(0)') Link #2
