nav
  .wrapper
    div.navigation-wrapper
      a#js-mobile-menu.navigation-menu-button(href='', mobile-menu-action) MENU
      div.nav(dropdown-navigation)
        ul#navigation-menu
          li.nav-link
            a(href='javascript:void(0)') Home
          li.nav-link.more.active.expanded
            a(href='javascript:void(0)') Management
            ul.submenu.top-level
              li.more.expanded
                a(href='javascript:void(0)') My Associations
                ul.submenu
                  li
                    a.current-page(href='javascript:void(0)') Associations Search
                  li
                    a(href='javascript:void(0)') Create New Association
              li.more
                a(href='javascript:void(0)') My Clubs
                ul.submenu
                  li
                    a(href='javascript:void(0)') Club Search
                  li
                    a(href='javascript:void(0)') Create New Club
              li.more
                a(href='javascript:void(0)') My Players
                ul.submenu
                  li
                    a(href='javascript:void(0)') Player Search
                  li
                    a(href='javascript:void(0)') Create New Player
              li
                a(href='javascript:void(0)') Rapid Score Entry
              li
                a(href='javascript:void(0)') Admin Roster List
          li.nav-link.more
            a(href='javascript:void(0)') Course Ratings
            ul.submenu.top-level
              li.more
                a(href='javascript:void(0)') My Facilities and Courses
                ul.submenu
                  li
                    a(href='javascript:void(0)') My Facilities
                  li
                    a(href='javascript:void(0)') Create New Course
              li
                a(href='javascript:void(0)') Facility Search
              li
                a(href='javascript:void(0)') Create Facility
          li.nav-link.more
            a(href='javascript:void(0)') Events
            ul.submenu.top-level
              li
                a(href='javascript:void(0)') My Event List
              li
                a(href='javascript:void(0)') Event Search
              li
                a(href='javascript:void(0)') My Template List
              li
                a(href='javascript:void(0)') Templates Shared With Me
              li
                a(href='javascript:void(0)') Template Search
              li
                a(href='javascript:void(0)') Preferences

