nav
  .wrapper
    div.navigation-wrapper
      a#js-mobile-menu.navigation-menu-button(href='', mobile-menu-action) MENU
      div.nav(dropdown-navigation)
        ul#navigation-menu
          li.nav-link
            a(href='javascript:void(0)') Home
          li.nav-link.more.active
            a(href='javascript:void(0)') Management
            ul.submenu.top-level
              li.more
                a(href='javascript:void(0)') My Association
                ul.submenu
                  li
                    a(href='javascript:void(0)') Association Profile
                  li
                    a(href='javascript:void(0)') Association Search
              li.more
                a(href='javascript:void(0)') My Clubs
                ul.submenu
                  li
                    a(href='javascript:void(0)') Club Roster
                  li
                    a(href='javascript:void(0)') Club Search
                  li
                    a(href='javascript:void(0)') Create New Club
              li.more
                a(href='javascript:void(0)') My Players
                ul.submenu
                  li
                    a(href='javascript:void(0)') Player Search
                  li
                    a(href='javascript:void(0)') Create New Player
              li
                a(href='javascript:void(0)') Rapid Score Entry
          li.nav-link.more
            a(href='javascript:void(0)') Course Ratings
            ul.submenu.top-level
              li.more
                a(href='javascript:void(0)') My Facilities and Courses
                ul.submenu
                  li
                    a(href='javascript:void(0)') My Facilities
                  li
                    a(href='javascript:void(0)') Create New Course
              li
                a(href='javascript:void(0)') Create Facility
              li
                a(href='javascript:void(0)') Facility Search
