@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);
$max-width: em(1270);

// Neat Breakpoints
$medium-screen: em(768);
$large-screen: em(1025);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

$medium-screen-down: new-breakpoint(max-width ($large-screen - em(1)));
$small-screen-down: new-breakpoint(max-width ($medium-screen - em(1)));

$column-span-options: 1, 2, 3, 4, 6, 12;

/*END OF GRID VARIABLES*/