// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;

$base-z-index: 0;
$core-z-index: 100;
$overlap-z-index: 101;

// Colors
$black: #00060a;
$gray: #bdbebf;
$cloud: #d7d8d9;
$white: #f7f9fa;
$pewter: #919599;
$graphite: #525d66;
$charcoal: #475259;
$navy: #003259;
$sky: #a0d5ff;
$blue: #30a3ff;
$cerulean: #0f5d99;
$ocean: #005494;
$orange: #ff7800;
$red: #DA1a31;
$crimson: #bf172b;
$green: #14cc88;
$yellow: #fbf273;